.container {
  position: relative;
  background-image: url(/service-bgc.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent;
  transition: 0.3s;
  z-index: 1;
  background: var(--color-dark);
  opacity: 50%;
}

.container > * {
  position: relative;
  z-index: 2;
}
.container:hover::after {
  background: var(--color-purple);
  opacity: 70%;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  justify-content: start;

  height: 220px;
}

.image {
  margin-bottom: 5px;
  max-width: 50px;
  max-height: 50px;
}

.title {
  margin: 0;
  color: var(--color-white);
  font-family: "Space Mono";
  font-weight: 700;
}

.text {
  margin: 0;
  color: var(--color-white);
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
}

.icon {
  max-width: 50px;
  max-height: 50px;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (hover: none) {
  .container:hover::after {
    background: var(--color-dark);
    opacity: 50%;
  }
}

@media (max-width: 576px) {
  .content {
    padding: 16px;
  }

  .text {
    font-size: 14px;
    line-height: 1.4;
  }
}
