.field {
  color: var(--color-white);
  background-image: url(/about_bg.gif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.container {
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  padding: 20px 30px;
  max-width: 550px;
  height: 670px;
  margin-left: 200px;
}

.button {
  width: 300px;
  height: 80px;
  padding: 20px 30px;
  color: var(--color-white);
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  transform: scale(0.9);
  background-color: var(--color-red);
}

@media (max-width: 975px) {
  .field {
    padding: 0 20px;
  }
}

@media (max-width: 625px) {
  .field {
    padding: 0 20px;
  }

  .container {
    max-width: 350px;
  }
}

@media (max-width: 410px) {
  .field {
    padding: 0 20px;
  }

  .container {
    max-width: 300px;
  }
}
