name: CI on Push to Main

# 1. Определяем триггер: пуш в ветку main
on:
  push:
    branches:
      - main
  workflow_dispatch: 

jobs:
  build-and-test:
    # Выбираем операционную систему (runner)
    runs-on: ubuntu-latest

    steps:
      # Шаг 1: Копируем код репозитория на виртуальную машину
      - name: Checkout code
        uses: actions/checkout@v4

      # Шаг 2: Настройка окружения (например, Node.js)
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # Шаг 3: Установка зависимостей
      - name: Install dependencies
        run: npm install

      # Шаг 4: Запуск тестов или сборки
      - name: Run tests
        run: npm test

      # Шаг 5: Простое уведомление в консоль
      - name: Success Message
        run: echo "Push to main detected and tests passed!"

        # 1. Билд приложения (создает папку dist или build)
      - name: Build Project
        run: npm run build

        # 1. Очистка папки на сервере перед деплоем
      - name: Cleanup Target Folder
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          port: 22
          script: |
            rm -rf /var/www/html/apex-soft-main-react/*

      # 2. Отправка файлов на сервер через SSH
      - name: Deploy to Server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}     # IP вашего сервера
          username: ${{ secrets.USERNAME }} # Логин (например, root или deploy)
          key: ${{ secrets.PRIVATE_KEY }}   # Ваш приватный ключ
          passphrase: ${{ secrets.PASSPHRASE }}
          port: 22                             # SSH порт
          source: "dist/*"                     # Что копируем (укажите вашу папку билда)
          target: "/var/www/html/apex-soft-main-react/" # Куда копируем
          strip_components: 1                  # Убирает вложенность папки 'dist' при копировании
